
    body {
      font-family: Arial, sans-serif;
      background-color: #F5F5FD;
      margin: 0;
    }

    nav {
      background-color: #DD1313;
      padding: 10px;
      display: flex;
    }

    nav h1 {
      color: white;
      text-align: center;
      vertical-align: center;
      padding-top: 1rem;
    }

    .logo {
      width: 100px;
      height: 100px;
      margin-right: auto;
    }

    .container {
      margin: 20px;
    }

    button {
      background-color: #DD1313;
      color: white;
      padding: 5px 20px;
      margin: 5px;
      cursor: pointer;
    }

    input, textarea {
      width: 100%;
      padding: 8px;
      margin: 5px 0;
      display: inline-block;
      border: 2px solid #c5bfbf;
      box-sizing: border-box;
      background-color: #ffd3d3;
    }

    .result-container {
      margin-top: 20px;
    }

    table {
      border-collapse: collapse;
      width: 30%;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 5px;
      text-align: center;
    }

    th {
      background-color: #DD1313;
      color: white;
    }
